@model UIdea.Models.Idea

@{
    ViewData["Title"] = "Details";
}

<img class="imgIdeaLogo" alt="IMAGE" src="https://st2.depositphotos.com/1896531/5752/v/950/depositphotos_57522007-stock-illustration-abstract-lightbulb.jpg" 
     width="224" height="224" />
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <a href="">Change logo</a>
    </div>
</div>


<div class="row">
    <div class="col-md-6" style="text-align:center">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h4>@Html.DisplayFor(model => model.Description)</h4>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal" style="margin-top:50px">
            <dt>
                Facebook:
            </dt>
            <dd>
                facebook.com/BestIdea
            </dd>
            <dt>
                Github:
            </dt>
            <dd>
                github.com/BestIdeaRepo
            </dd>
            <dt>
                Webpage:
            </dt>
            <dd>
                www.bestidea.com
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
