@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6" style="text-align:center; margin-top:50px">
        <img class="center-block" src="~/images/lightbulb_150x150.png" />
        <h3>Participate in real software developement projects</h3>
        <a style="font-size:22px" asp-controller="Ideas" asp-action="Index">Join a project that fits your skills</a>
    </div>
    <div class="col-md-6" style="text-align:center; margin-top:250px">
        <img class="center-block" src="~/images/brain_with_head_transparent_113x150.png" />
        <h3>Earn XP, prove you are the best software developer</h3>
        <a style="font-size:22px" asp-controller="Account" asp-action="Register">Register</a>
    </div>
</div>
