.imgIdeaLogo{
    margin: 25px auto 25px auto;
    display:block;
}

.usedLanguage{
    background-color: #f3f3f3;
    margin-right:5px;
}

.model-description{
    overflow-wrap:break-word;
}

.ideadescription {
    width: 500px;
    height: 150px!important;
}